<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Epubs</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        .active {
            margin-top: 20px !important;
        }

        .middle {
            margin-top: 300px;
            transition: margin-top 0.5s;
        }

        .list-group {
            margin-top: 20px;
        }

        .overflow-div {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>


<div id="app" class="container col-md-6 col-md-offset-3">

    <input type="text"
           placeholder="Just type away ..."
           class="form-control middle"
           v-model="searchQuery"
           ref="searchInput"
           v-on:input="isActive = true"
           v-bind:class="{ active: isActive }"
    />

    <ul class="list-group">
        <li v-for="result in results" class="list-group-item">
            <a v-bind:href="'service/download/' + result.path">
                {{result.title}}
            </a>

            <span class="badge" v-for="author in result.authors">
                {{author}}
            </span>
            <div class="overflow-div">
                {{result.description}}
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            searchQuery: '',
            results: [],
            isActive: false
        },
        mounted () {
            this.$refs.searchInput.focus();
        },
        watch: {
            searchQuery: function (newQuery) {
                newQuery && newQuery.trim() !== "" && fetch("service/search/q/" + newQuery)
                        .then(response => response.json())
                        .then(results => this.results = results);
            }
        }
    })
</script>
</body>
</html>